div.headers{
    font-family: georgia;
    font-size: 10px;
    font-weight: bold;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-size: 2px;
    padding: 5px;
    padding-left: 10px;
    border-color: rgb(200, 200, 200);
    background-color: white;
}


div.headers p{
    margin-top: 5px;
}

div.body{
    font-family: verdana;
    font-size: 10px;
    color: rgb(80, 80, 80);
    border: 1px solid;
    border-color: rgb(200, 200, 200);
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

ul#emails{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#emails li{
    width: 60%;
}

#description{
    font-family: georgia;
    font-size: 16px;
    color: rgb(80, 80, 80);
    margin-bottom: 15px;
}
