/*layout*/
#top{
    clear: both;
    height: 65px;
}

#topleft, #search{
    width: 60%;
    float: left;
}

#topright, #listname{
    width: 40%;
    float: right;
}

#topnav{
    float: left;
}

#top h1, #top h2{
    float: left;
}

#top h2{
    clear: left;
}

#middle{
    min-height: 400px;
    clear: both;
}

#listtabs{
    clear: both;
    padding-top: 20px;
    float: left;
}

#search{
    padding-top: 10px;
}

#searchtext{
    width: 60%;
    margin-right: 10px;
}

/*end layout*/

#listname p{
    font-family: verdana;
    font-size: 30px;
}

#top, #middle, #bottom, #nav{
    margin-left: 60px;
    margin-right: 80px;
}

#middle, #nav li.current{
    background-color: rgb(240, 240, 240);
}

#middle{
    border: 1px solid;
    border-color: rgb(200, 200, 200);
    padding: 30px;
}

#top{
    padding-top: 15px;
}


#top h1 a{
    font-family: georgia;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(40, 40, 40);
}

#top h2{
    font-family: georgia;
    font-size: 10px;
    color: rgb(120, 120, 120);
}

ul#topnav{
    margin-right: 5px;
}

ul#topnav li{
    display: inline;
    margin-right: 5px;
}

ul#topnav li a{
    font-size: 10px;
    font-family: verdana;
}


#bottom{
    clear: both;
    height: 25px;
    text-align: center;
}

#bottom a{
    font-family: verdana;
    font-size: 10px;
}

#breadcrumb{
    font-family: georgia;
    font-size: 12px;
    margin-bottom: 30px;
}

#breadcrumb .divider{
    margin-left: 5px;
    margin-right: 5px;
}