#middle h3{
    font-weight: normal;
    font-family: arial;
    font-size: 16px;
    color: rgb(40, 40, 40);
    padding-top: 25px;
    clear: both;
}

#middle p{
    font-family: verdana;
    font-size: 14px;
    color: rgb(80, 80, 80);
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
}

#contacttitle{
    font-size: 30px;
    font-family: verdana;
    color: rgb(40, 40, 40);
    float: right;
    width: 40%;
}

#middle{
    margin-top: 80px;
    padding-top: 40px;
}

#middle #intro{
    font-family: georgia;
    font-size: 18px;
    color: rgb(40, 40, 40);
}