#middle h3{
    color: rgb(80, 80, 80);
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 18px;
}

#middle p, #middle h3{
    font-family: georgia;
}

#middle p{
    font-size: 14px;
}

#middle p#intro{
    font-family: georgia;
    font-size: 22px;
    color: rgb(40, 40, 40);
}
