#center{
    width: 600px;
    margin-top: 25px;
}

#center, #footer{
    margin-left: 250px;
}

a {
    font-family: arial;
    font-size: 12px;
}

#goback{
    float: left;
}

#center h1{
    font-weight: normal;
    font-family: arial;
    font-size: 16px;
    font-color: rgb(40, 40, 40);
    padding-top: 25px;
    clear: both;
}

#center p{
    font-family: verdana;
    font-size: 12px;
    color: rgb(80, 80, 80);
}

#footer {
    padding-left: 200px;
}

#footer ul li{
    display: inline;
}

#footer ul{
    list-style: none;
}

#email {
    font-weight: bold;
    font-family: arial;
    font-size: 16px;
    color: rgb(109, 147, 159);
}