#createsub label{
    font-family: verdana;
    font-size: 12px;
    color: rgb(80, 80, 80);
}

#createsub label, span.number{
    margin-right: 10px;
}

#createsub td{
    text-align: right;
}

#createsub table tbody tr td input{
    font-family: georgia;
    font-size: 16px;
    width: 400px;
}

tr.errorrow{
    height: 20px;
}

tr{
    height: 40px;
}

ul.errorlist li{
    font-family: georgia;
    font-size: 12px;
    color: red;
    text-align: left;
}

#spreedly{
    width: 200px;
    margin-top: 10px;
    font-family: verdana;
    font-size: 10px;
    color: rgb(80, 80, 80);
}

tr.step{
    font-family: georgia;
    font-size: 22px;
    color: rgb(40, 40, 40);
    height: 50px;
}

tr.step p{
    text-align: left;
}

span.number{
    color: rgb(255, 153, 51);
    font-weight: bold;
}

#createsub table tr td#submit{
    text-align: left;
}

#createsub table tr td #createbutton{
    height: 50px;
    width: 200px;
    margin-top: 10px;
}


