#footer{
    clear: both;
    width: 830px;
    height: 20px;
}

/*bottom styling*/

#footer {
    padding-top: 0px;
    height: 20px;
    text-align: center;
    background-color: rgb(153, 205, 223);
}

/*end bottom styling*/
