#footer{
    clear: both;
    width: 850px;
    height: 20px;
}

/*bottom styling*/

#leftinner h1{
    font-family: georgia;
    font-size: 16px;
    color: rgb(60, 60, 60);
    font-weight: normal;
    margin-top: 0px;
}

#footer {
    height: 25px;
    text-align: center;
}

#footer a{
    font-family: arial;
    font-size: 10px;
}
/*end bottom styling*/
