.header h1, .header h2{
    margin: 0;
}

.header h1{
    font-family: arial;
    font-weight: normal;
    font-size: 18px;
    color: rgb(40, 40, 40);

}

.header h2{
    font-family: verdana;
    font-weight: normal;
    font-size: 12px;
    color: rgb(120, 120, 120);
}

ul#topnav{
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-bottom: 5px;
}

ul#topnav li{
    display: inline;
    font-size: 10px;
    font-family: verdana;
    float: right;
    margin-right: 15px;

}

ul#topnav li a{
    font-size: 10px;
    font-family: verdana;
    float: right;
    margin-right: 5px;
}

.header{
    background-color: rgb(153, 205, 223);
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 80px;
}