#top{
    clear: both;
    width: 750px;
}

/* top styling*/
#top h1, h2{
    margin: 0;
}

#top h1{
    font-family: arial;
    font-weight: normal;
    font-size: 18px;
    color: rgb(40, 40, 40);

}

#top h2{
    font-family: verdana;
    font-weight: normal;
    font-size: 12px;
    color: rgb(120, 120, 120);
}

ul#topnav{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul#topnav li{
    display: inline;
}

ul#topnav li a{
    font-size: 10px;
    font-family: arial;
    float: right;
    width: 5em;
}

/*end top styling*/

#top{
    background-color: rgb(153, 205, 223);
}

#top {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
}