/*layout*/
#top, #middle, #bottom{
    padding-left: 45px;
    padding-right: 15px;
}
/*top layout*/
#top{
    height: 60px;
}

#topright, #topleft{
    padding-top: 10px;
    padding-bottom: 10px;
}

#top h1, #top h2{
    float: left;
}

#top h2{
    clear: left;
}

#topleft, #topright{
    width: 50%;
}

#topleft{
    float: left;
}

#topright{
    float: right;
}

#globalnav{
    float: left;
}

#globalnav li{
    display: inline;
}
/*end top layout*/

/*middle layout*/
#middle {
    height: 400px;
    margin-top: 40px;
}

#copy {
    float: left;
}

#features {
    float: right;
}

#copy, #features{
    width: 50%;
}
/*end middle layout*/

/*bottom layout*/
#bottomcopy{
    width: 40%;
}
#bottomcopy, .question{
    float: left;
}

#questions{
    clear: both;
}
/*end bottom layout*/
/*end layout*/

#top {
    background-color: rgb(40, 40, 80);
}

#top h1 {
    font-family: georgia;
    font-size: 24px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}

#top h2{
    font-family: georgia;
    font-size: 14px;
    color: rgb(200, 200, 200);
}

#globalnav {
    text-align: center;
    margin-right: 25%;
    margin-top: 15px;
}

#globalnav li{
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

#globalnav li a{
    color: rgb(240, 240, 240);
}

#copy h2, #copy h3, #copy p{
    width: 450px;
    font-family: georgia;
}
#copy h2, #copy h3, #copy p, #copy img{
    margin-bottom: 25px;
}

#copy h2{
    font-size: 22px;
    font-weight: bold;
    color: rgb(40, 40, 40);
}

#copy h3{
    font-size: 18px;
    color: rgb(80, 80, 80);
}

#copy p{
    font-size: 14px;
    color: rgb(100, 100, 100);
}

#features ul li{
    width: 450px;
    margin-bottom: 25px;
}

#features h2{
    font-size: 16px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    margin-bottom: 5px;
}

#features p{
    font-family: georgia;
    font-size: 14px;
    color: rgb(40, 40, 40);
}

.question{
    width: 150px;
}