/*layout*/
#top, #middle, #bottom, hr{
    padding-left: 45px;
    padding-right: 15px;
}
#middle, #bottom, hr {
    width: 900px;
}

/*top layout*/
#top{
    height: 60px;
}

#topright, #topleft{
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

#top h1, #top h2{
    float: left;
}

#top h2{
    clear: left;
}

#topleft, #topright{
    width: 450px;/*half of total width*/
}

#globalnav{
    float: left;
}

#globalnav li{
    display: inline;
}
/*end top layout*/

/*middle layout*/
#middle {
    height: 400px;
    margin-top: 40px;
}

#copy {
    float: left;
    width: 400px;
}

#features {
    float: right;
}

#features{
    width: 50%;
}
/*end middle layout*/

/*bottom layout*/
#bottom{
    margin-top: 15px;
    margin-bottom: 15px;
}

#bottomcopy{
    width: 450px; /*Added to margin should equal 570px to keep everythin lined up*/
    margin-right: 120px;
    float: left;
    clear: left;
}

#bottom img{
    float: left;
}

.question{
    float: left;
    margin-right: 35px;
}

#questions{
    margin-bottom: 25px;
    height: 150px;
}

hr {
    float: left;
    margin-left: 45px;
}
/*end bottom layout*/
/*end layout*/

#top {
    background-color: rgb(40, 40, 80);
}

#top h1 {
    font-family: georgia;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#top h2{
    font-family: georgia;
    font-size: 14px;
    color: rgb(200, 200, 200);
}

#globalnav {
    text-align: center;
    margin-right: 25%;
    margin-top: 15px;
}

#globalnav li{
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

#globalnav li a{
    color: rgb(220, 220, 220);
}

#copy h2, #copy h3, #copy p{
    font-family: georgia;
}
#copy h2, #copy h3, #copy p, #copy img{
    margin-bottom: 25px;
}

#copy h2{
    font-size: 22px;
    font-weight: bold;
    color: rgb(40, 40, 40);
}

#copy h3{
    font-size: 18px;
    color: rgb(80, 80, 80);
}

#copy p{
    font-size: 14px;
    color: rgb(100, 100, 100);
}

#features ul li{
    width: 400px;
    margin-bottom: 25px;
}

#features h2{
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    color: rgb(80, 80, 80);
    margin-bottom: 10px;
}

#features p.scannable{
    font-size: 14px;
    margin-bottom: 8px;
}

#features p{
    font-family: georgia;
    font-size: 11px;
    color: rgb(40, 40, 40);
    margin-bottom: 5px;
}

.question{
    width: 250px;
}

.question h2{
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    height: 40px;
    margin-bottom: 8px;
}

.question p{
    font-family: georgia;
    font-size: 12px;
    color: rgb(80, 80, 80);
}

#bottomcopy{
    font-family: georgia;
    color: rgb(80, 80, 80);
    font-size: 14px;
}

hr{
    color: rgb(200, 200, 200);
    background-color: rgb(200, 200, 200);
    margin-bottom: 30px;
}

#soon {
    font-size: 9px;
}

.callout{
    font-weight: bold;
    font-size: 17px;
    color: rgb(40, 40, 40);
}