/*layout*/
hr{
    padding-left: 45px;
    padding-right: 15px;
}

hr {
    width: 900px;
}

#copy {
    float: left;
    width: 400px;
}

#features {
    float: right;
}

#features{
    width: 50%;
}

/*bottom layout*/
#middlebottom{
    margin-top: 15px;
    margin-bottom: 15px;
}


#middlebottom img{
    float: left;
}

.question{
    float: left;
    margin-right: 35px;
    margin-bottom: 25px;
    height: 150px;
}


hr {
    float: left;
}

#copy h2, #copy h3, #copy p{
    font-family: georgia;
}

#copy h2, #copy h3, #copy p, #copy img{
    margin-bottom: 25px;
}

#copy h2{
    font-size: 22px;
    font-weight: bold;
    color: rgb(40, 40, 40);
}

#copy h3{
    font-size: 18px;
    color: rgb(80, 80, 80);
}

#copy p{
    font-size: 14px;
    color: rgb(100, 100, 100);
}

#features ul li{
    width: 400px;
    margin-bottom: 25px;
}

#features h2{
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    color: rgb(80, 80, 80);
    margin-bottom: 10px;
}

#features p.scannable{
    font-size: 14px;
    margin-bottom: 8px;
}

#features p{
    font-family: georgia;
    font-size: 11px;
    color: rgb(40, 40, 40);
    margin-bottom: 5px;
}

.question{
    width: 250px;
}

.question h2{
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    height: 40px;
    margin-bottom: 8px;
}

.question p{
    font-family: georgia;
    font-size: 12px;
    color: rgb(80, 80, 80);
}



hr{
    color: rgb(200, 200, 200);
    background-color: rgb(200, 200, 200);
    margin-bottom: 30px;
}

#soon {
    font-size: 9px;
}

.callout{
    font-weight: bold;
    font-size: 17px;
    color: rgb(40, 40, 40);
}