/*start layout*/
#top, #bottom {
    clear: both;
}

#left, #right{
    margin-top: 30px;
    float: left;
}

#left{
    width: 690px;
}

#right{
    width: 200px;
}

.extras{
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-left: 5px;
}

#links{
    margin-left: 0px;
}

#top, #left, #bottom{
    margin-left: 100px;
}

#inputs{
    width: 385px;
}

#labels, #inputs{
    float: left;
    height: 110px;
}

#inputs input{
    margin: 0;
    float: left;
    width: 250px;
}

#emaildomain{
    float: left;
    margin-left: 5px;
    padding-top: 5px;
}

/*end layout*/

/* top styling*/
#top h1, h2{
    margin: 0;
}

#top h1{
    font-family: arial;
    font-weight: normal;
    font-size: 18px;
    color: rgb(40, 40, 40);
}

#top h2{
    font-family: verdana;
    font-weight: normal;
    font-size: 12px;
    color: rgb(120, 120, 120);
}
/*end top styling*/

/*left styling*/
#labels{
    margin-right: 5px;
}

#labels label{
    display: block;
    text-align: right;
    padding-top: 5px;
}


#labels label, #emaildomain{
    font-family: georgia;
    font-size: 10px;
    color: rgb(120, 120, 120);
}


#labels label, #inputs input{
    height: 30px;
    margin-top: 10px;
}

#inputs input{
    font-family: georgia;
    font-size: 12px;
    color: rgb(60, 60, 60);
}

#submit{
    margin-top: 10px;
    clear: both;
    display: block;
}


/*end left styling*/

/*right styling*/
.intro{
    font-family: verdana;
    color: rgb(80, 80, 80);
    font-size: 11px;
    margin: 0 0 10 10;
}
#right h1{
    font-family: georgia;
    font-weight: normal;
    font-size: 16px;
    color: rgb(100, 100, 100);
    margin-top: 0px;
}
/*end right styling*/

/*bottom styling*/

#left h1{
    font-family: georgia;
    font-size: 16px;
    color: rgb(60, 60, 60);
    font-weight: normal;
    margin-top: 0px;
}

#left div p{
    font-family: verdana;
    font-size: 11px;
    font-color: rgb(80, 80, 80);
}

/*end bottom styling*/

p.directions{
    font-family: verdana;
    font-size: 18px;
    color: rgb(60, 60, 60);
    clear: both;
    margin: 0px 0 15px 0;
}

