/*start layout*/
.extras{
    float: left;
    width: 200px;
    margin-left: 5px;
    padding: 0px 20px;
    margin-top: 30px;
}

.extras input{
    margin: 0;
    padding: 0;
    display: inline;
}

#links{
    margin-left: 0px;
    padding-left: 0px;
}

#inputs{
    width: 385px;
}

#labels, #inputs{
    float: left;
    height: 110px;
}

#inputs input{
    margin: 0;
    float: left;
    width: 250px;
}

#emaildomain{
    float: left;
    margin-left: 5px;
    padding-top: 5px;
}

#examples{
    clear: both;
}

/*end layout*/

/* top styling*/
#extrafeatures{
    padding-top: 35px;
}
/*end top styling*/

/*left styling*/
#labels{
    margin-right: 5px;
}

#labels label{
    display: block;
    text-align: right;
    padding-top: 5px;
}

#left div p{
    font-family: verdana;
    font-size: 11px;
    color: rgb(80, 80, 80);
}

#labels label, #emaildomain, p#examples{
    font-family: georgia;
    font-size: 10px;
    color: rgb(120, 120, 120);
}

#labels label, #inputs input{
    height: 30px;
    margin-top: 10px;
}

#inputs input{
    font-family: georgia;
    font-size: 12px;
    color: rgb(60, 60, 60);
}

#files {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#submit{
    margin-top: 10px;
    clear: both;
    display: block;
    position: relative;
    top: 30px;
    padding: 10px;
}

/*end left styling*/

#left h1{
    font-family: georgia;
    font-size: 16px;
    color: rgb(60, 60, 60);
    font-weight: normal;
    margin-top: 0px;
}

p.directions{
    font-family: verdana;
    font-size: 18px;
    color: rgb(60, 60, 60);
    clear: both;
}

#left div p.buyme{
    display: inline;
    margin: 0;
    font-family: arial;
    font-size: 11px;
    color: rgb(40, 40, 40);
    font-weight: bold;
}

#left div p.price{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: rgb(223, 126, 13);
}

#left div p.price span.price{
    font-family: verdana;
    font-size: 10px;
    color: rgb(120, 120, 120);
    font-weight: normal;
}

.descheight {
    height: 240px;
}

#left{
    margin: 0;
    background-color: rgb(250, 250, 250);
    height: 720px;
    padding-top: 15px;
}