/*start layout*/
#top{
    clear: both;
    width: 750px;
}

#footer{
    clear: both;
    width: 850px;
}

#leftinner, #right{
    margin-top: 30px;
    float: left;
}

#leftinner{
    width: 750px;
}

#pitch{
    width: 700px;
}

#left{
    height: 500px;
    float: left;
}

.extras{
    float: left;
    width: 200px;
    margin-left: 5px;
    padding: 0px 20px;
    margin-top: 30px;
}

.extras input{
    margin: 0;
    padding: 0;
    display: inline;
}

#links{
    margin-left: 0px;
    padding-left: 0px;
}

#leftinner{
    margin-left: 80px;
}

#inputs{
    width: 385px;
}

#labels, #inputs{
    float: left;
    height: 110px;
}

#examples{
    clear: both;
}

/*end layout*/

/* top styling*/
#top h1, h2{
    margin: 0;
}

#top h1{
    font-family: arial;
    font-weight: normal;
    font-size: 18px;
    color: rgb(40, 40, 40);

}

#top h2{
    font-family: verdana;
    font-weight: normal;
    font-size: 12px;
    color: rgb(120, 120, 120);
}

#extrafeatures{
    padding-top: 35px;
}
/*end top styling*/

/*left styling*/
#labels{
    margin-right: 5px;
}

#labels label{
    display: block;
    text-align: right;
    padding-top: 5px;
}


#leftinner div p{
    font-family: georgia;
    font-size: 11px;
    color: rgb(80, 80, 80);
}

#leftinner div h2{
    font-family: verdana;
    font-weight: normal;
    font-size: 18px;
    color: rgb(80, 80, 80);
    margin-bottom: 15px;
}

#files {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#submit-top{
    margin-top: 10px;
    clear: both;
    display: block;
    position: relative;
    padding: 10px;
}

#submit-bottom{
    margin-top: 10px;
    clear: both;
    display: block;
    position: relative;
    padding: 10px;
}

/*end left styling*/

/*bottom styling*/

#leftinner h1{
    font-family: georgia;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0px;
}

#footer {
    height: 25px;
    text-align: center;
}

#footer a{
    font-family: arial;
    font-size: 10px;
}
/*end bottom styling*/

h2.directions{
    font-family: verdana;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: normal;
    clear: both;
}

#left {
}


#top {
    background-color: rgb(153, 205, 223);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
}

body{
    margin: 0;
}


#leftinner div p.price{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: rgb(223, 126, 13);
}

.descheight {
    height: 120px;
}