/*start layout*/
#top, #bottom {
    clear: both;
}

#left, #right{
    float: left;
}

#left{
    width: 520px;
}

#right{
    min-width: 700px;
}

#right .extras{
    float: left;
    width: 180px;
}

#top, #left, #bottom{
    margin-left: 100px;
}

#inputs{
    width: 385px;
}

#labels, #inputs{
    float: left;
    height: 110px;
}

#inputs input{
    margin: 0;
    float: left;
    width: 250px;
}

#emaildomain{
    float: left;
    margin-left: 5px;
    padding-top: 5px;
}
/*end layout*/

/* top styling*/
#top h1, h2{
    margin: 0;
}

#top h1{
    font-family: arial;
    font-weight: normal;
    font-size: 18px;
    color: rgb(40, 40, 40);
}

#top h2{
    font-family: verdana;
    font-weight: normal;
    font-size: 12px;
    color: rgb(120, 120, 120);
}
/*end top styling*/

/*left styling*/
#labels{
    margin-right: 5px;
}

.intro {
    margin-right: 75px;
}

#labels label{
    display: block;
    text-align: right;
    padding-top: 5px;
}


#labels label, #emaildomain{
    font-family: georgia;
    font-size: 10px;
    color: rgb(120, 120, 120);
}


#labels label, #inputs input{
    height: 30px;
    margin-top: 10px;
}

#inputs input{
    font-family: georgia;
    font-size: 12px;
    color: rgb(60, 60, 60);
}

p.directions{
    font-family: verdana;
    color: rgb(60, 60, 60);
    clear: both;
    margin: 40px 0 15px 0;
}

#submit{
    margin-top: 10px;
}

.intro{
    font-family: verdana;
    color: rgb(80, 80, 80);
    font-size: 12px;
}

/*end left styling*/

/*right styling*/
#right h1{
    font-family: georgia;
    font-size: 16px;
    color: rgb(60, 60, 60);
    font-weight: normal;
    margin-top: 0px;
}

#right p{
    font-family: verdana;
    font-size: 11px;
    font-color: rgb(80, 80, 80);
    margin-left: 5px;
}

div.extras{
    padding: 5px;
}
/*end right styling*/
