#linkslist{
    margin-top: 20px;
}

#linkslist p.date {
    font-family: verdana;
    font-size: 20px;
    color: rgb(40, 40, 40);
    margin-bottom: 10px;
}

#linkslist li{
    font-family: georgia;
    font-size: 16px;
    margin-bottom: 5px;
}

div.pagination{
    margin-top: 20px;
}

div.pagination a{
    font-family: georgia;
    font-size: 12px;
    margin-right: 10px;
}

h3 {
    font-family: georgia;
    font-size: 18px;
    color: rgb(40, 40, 40);
    margin-bottom: 10px;
}

p.hint{
    font-family: verdana;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

p#scannable{
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    width: 60%;
    margin-top: 30px;
}

p#detail{
    font-family: verdana;
    font-size: 12px;
    width: 40%;
    color: rgb(80, 80, 80);
    margin-top: 10px;
}




