ul#listnav{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 5px;
}

#listnav li{
    display: inline;
    font-family: verdana;
    font-size: 12px;
    margin-right: 5px;
}
