/*start layout*/

#leftinner, #right{
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

#leftinner{
    width: 750px;
}

#left{
    float: left;
}

#right{
    width: 200px;
}

.extras{
    float: left;
    width: 200px;
    margin-left: 5px;
    padding: 0px 20px;
    margin-top: 30px;
}

#subscribers{
    margin-left: 0px;
    padding-left: 0px;
}

ul#subscribers{
    list-style-type: none;
}


#leftinner{
    margin-left: 80px;
}


/*end layout*/



/*right styling*/


#right {
    padding-left: 30px;
}
/*end right styling*/

 
#list p {
    font-family: verdana;
    font-size: 18;
    color: rgb(60, 60,60)
}
   
#subscribers li {
    font-family: georgia;
    font-size: 14px;
}


#pagination {
    font-family: arial;
    font-size: 20px;
    color: rgb(60, 60, 200);
}

#left {
    background-color: rgb(240, 240, 240);
}

body{
    margin: 0;
}

.descheight {
    height: 240px;







