#middle h1{
    font-family: georgia;
    font-size: 20px;
    color: rgb(40, 40, 40);
    margin-top: 30px;
    margin-bottom: 15px;
}

#middle p{
    font-family: verdana;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

#memberslist{
    margin-top: 20px;
    margin-bottom: 20px;
}

#middle li p{
    font-family: verdana;
    font-size: 16px;
    color: rgb(40, 40, 40);
    margin-left: 10px;
}

#cancel{
    margin-left: 10px;
}
