#memberslist {
    margin-top: 15px;
}

#memberslist li p.email{
    font-family: georgia;
    font-size: 16px;
    display: inline;
    color: rgb(80, 80, 80);
}


p.remove, #submit{
    display: inline;
    font-family: verdana;
    font-size: 14px;
    color: rgb(80, 80, 80);
}

#submit {
    margin-left: 10px;
}

/* These widths are the same as the nav
   widths in the base template.
   */
#middle h3{
    font-family: georgia;
    font-size: 20px;
    color: rgb(40, 40, 40);
    margin-bottom: 10px;
}

#middle p{
    font-family: verdana;
    font-size: 12px;
}

p.scannable{
    font-family: verdana;
    font-size: 12px;
    margin-top: 20px;
    color: rgb(40, 40, 40);
}


