#memberslist {
    margin-top: 15px;
}

#memberslist li p.email{
    font-family: georgia;
    font-size: 16px;
    display: inline;
    color: rgb(80, 80, 80);
}


p.remove, #submit{
    display: inline;
    font-family: verdana;
    font-size: 14px;
    color: rgb(80, 80, 80);
}

#submit {
    margin-left: 10px;
}




