ul#orgtabs{
    margin-top: 5px;
    border-top: 1px;
    border-right: 1px;
    float: left;
}

#orgtabs{
    height: 28px; /*li height plus padding and margin*/
}

#orgtabs li{
    height: 25px;
    float: left;
    font-family: verdana;
    font-size: 12px;
    border-left: 1px;
    width: 100px;
    text-align: center;
    padding-top: 3px;
}

#orgtabs li, ul#orgtabs {
    border-style: solid;
    border-color: rgb(200, 200, 200);
}

#orgtabs li a{
    display: block;
    text-decoration: none;
    margin-top: 5px;
}

#orgtabs li.current{
    border-bottom: 1px solid;
    border-bottom-color: rgb(240, 240, 240);
    margin-bottom: -1px;
}

#nav ul#orgtabs{
    margin-top: 80px;
}
