#middle h2{
    font-family: georgia;
    font-size: 24px;
    margin-bottom: 20px;
}

#middle p{
    font-size: 12px;
    line-height: 1.2;
}

#middle ul{
    margin: 30 0;
}

#middle li{
    font-size: 10px;
    line-height: 1.2;
    list-style: square inside;
    margin: 10 0;
}

#middle li, #middle p{
    font-family: verdana;
    width: 50%;
}
#middle {
    height: auto;
    padding-top: 10px;
}