/*start layout*/
#top{
    clear: both;
    width: 750px;
}

#footer{
    clear: both;
    width: 850px;
}

#leftinner, #right{
    margin-top: 30px;
    float: left;
}

#leftinner{
    width: 750px;
}

#left{
    float: left;
}

#right{
    width: 200px;
}

.extras{
    float: left;
    width: 200px;
    margin-left: 5px;
    padding: 0px 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.extras input{
    margin: 0;
    padding: 0;
    display: inline;
}

#links{
    margin-left: 0px;
    padding-left: 0px;
}

#leftinner{
    margin-left: 80px;
}

#inputs{
    width: 385px;
}

#labels, #inputs{
    float: left;
    height: 110px;
}

#inputs input{
    margin: 0;
    float: left;
    width: 250px;
}

#emaildomain{
    float: left;
    margin-left: 5px;
    padding-top: 5px;
}

#examples{
    clear: both;
}

/*end layout*/

/* top styling*/
#top h1, h2{
    margin: 0;
}

#top h1{
    font-family: arial;
    font-weight: normal;
    font-size: 18px;
    color: rgb(40, 40, 40);

}

#top h2{
    font-family: verdana;
    font-weight: normal;
    font-size: 12px;
    color: rgb(120, 120, 120);
}

#extrafeatures{
    padding-top: 35px;
}
/*end top styling*/

/*left styling*/

#leadin h3{
    font-family: verdana;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0px;
}

p.leadin{
    font-family: verdana;
    color: rgb(80, 80, 80);
    font-size: 11px;
    margin: 0 0 10 10;
}

#labels{
    margin-right: 5px;
}

#labels label{
    display: block;
    text-align: right;
    padding-top: 5px;
}


#leftinner div p{
    font-family: georgia;
    font-size: 11px;
    color: rgb(80, 80, 80);
}

#labels label, #emaildomain, p#examples{
    font-family: georgia;
    font-size: 10px;
    color: rgb(120, 120, 120);
}


#labels label, #inputs input{
    height: 30px;
    margin-top: 10px;
}

#inputs input{
    font-family: georgia;
    font-size: 12px;
    color: rgb(60, 60, 60);
}

#files {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#submit{
    margin-top: 0px;
    clear: both;
    display: block;
    position: relative;
    top: 0px;
    padding: 10px;
}

/*end left styling*/

/*right styling*/


.intro{
    font-family: verdana;
    color: rgb(80, 80, 80);
    font-size: 11px;
    margin: 0 0 10 10;
}
#right h1{
    font-family: georgia;
    font-weight: normal;
    font-size: 16px;
    color: rgb(100, 100, 100);
    margin-top: 40px;
}

#right {
    padding-left: 30px;
}
/*end right styling*/

/*bottom styling*/

#leftinner h1{
    font-family: georgia;
    font-size: 16px;
    color: rgb(60, 60, 60);
    font-weight: normal;
    margin-top: 0px;
}

#footer {
    height: 25px;
    text-align: center;
}

#footer a{
    font-family: arial;
    font-size: 10px;
}
/*end bottom styling*/

p.directions{
    font-family: verdana;
    font-size: 18px;
    color: rgb(60, 60, 60);
    clear: both;
}
    
p.signup {
    font-family: verdana;
    font-size: 18px;
    color: rgb(60, 60, 60);
    clear: both;
}

#top{
    background-color: rgb(153, 205, 223);
}

#top {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
}

body{
    margin: 0;
}

#leftinner div p.buyme{
    display: inline;
    margin: 0;
    font-family: arial;
    font-size: 11px;
    color: rgb(40, 40, 40);
    font-weight: bold;
}

#leftinner div p.price{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: rgb(223, 126, 13);
}

span.hilight{
    font-family: verdana;
    font-size: 20px;
    font-weight: normal;
    color: rgb(223, 126, 13);
}

#leftinner div p.price span.price{
    font-family: verdana;
    font-size: 10px;
    color: rgb(120, 120, 120);
    font-weight: normal;
}

.descheight {
    height: 80px;
}