/*start layout*/

#leftinner, #right{
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

#leftinner{
    width: 750px;
}

#left{
    float: left;
    height: 550px;
}

#right{
    width: 200px;
}

.extras{
    float: left;
    width: 200px;
    margin-left: 5px;
    padding: 0px 20px;
    margin-top: 30px;
}

#lists{
    margin-left: 0px;
    padding-left: 0px;
}

ul#lists{
    list-style-type: none;
}


#leftinner{
    margin-left: 80px;
}


/*end layout*/



/*right styling*/


#right {
    padding-left: 30px;
}
/*end right styling*/

 
#lists p {
    font-family: verdana;
    font-size: 18;
    color: rgb(60, 60,60)
}
   
#lists li {
    font-family: georgia;
    font-size: 14px;
}


#pagination {
    font-family: arial;
    font-size: 20px;
    color: rgb(60, 60, 200);
}

body{
    margin: 0;
}

#leftinner div p.buyme{
    display: inline;
    margin: 0;
    font-family: arial;
    font-size: 11px;
    color: rgb(40, 40, 40);
    font-weight: bold;
}

#leftinner div p.price{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: rgb(223, 126, 13);
}

#leftinner div p.price span.price{
    font-family: verdana;
    font-size: 10px;
    color: rgb(120, 120, 120);
    font-weight: normal;
}

.descheight {
    height: 240px;


p {
    font-family: verdana;
    font-size: 16px;
    width: 350px;
}

