<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >

<head>
<title> Contact Us </title>
<link rel="stylesheet" type="text/css" href="{{media_url}}css/contact.css"/>
</head>
  
<body>
<div id="center">
 <p>Oops! Can't find the page!</p>
</div>
<div id="footer" >
  <ul id="footernav">
    <li>
      <a href="/site_media/html/contact.html" id="contact">contact</a>
    </li>
    <li>
      <a href="/site_media/html/privacy.html" id="privacy">privacy</a>
    </li>
  </ul>
</div>
</body>
</html>
