{% extends "postosaurus/marketing-base.html" %}

{% block title %}
Postosaurus -- 500 Server Error
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/500.css">
{% endblock %}

{% block content %}
<p>Oh no! Something went wrong with the server.</p>
<p>Please either try again later or let us know at <a href="mailto:support@email.postosaurus.com">support@email.postosaurus.com</a></p>
<img src="{{MEDIA_URL}}images/500.jpg" alt="Sick Postosaurus" />
{% endblock %}

