{% extends "postosaurus/marketing-base.html" %}

{% block title %}
About
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/about.css">
{% endblock %}

{% block content %}
<div id="aboutleft">
  <h2>
  A Small Company for Small Businesses.
  </h2>
  <p>
  Allicator LLC was founded in August of 2009. We create software for
  small businesses. <a href="/">Postosaurus</a>, our first
  product, is made with the small business owner in mind. You are the
  busiest people on the planet so we made it easy to use and
  learn. Your company is growing so our <a href="/plans">plans and pricing</a> grow
  with you.
  <h2>
  The Team.
  </h2>
  <p>
  That would be me, Sean Fioritto. I'm the CEO and CTO, so I'm a busy
  guy. You can reach me at <a href="mailto:sean@allicator.com">sean@allicator.com</a>.
  </p>
  <p>
  I live in Chicago but I'm an Arizona native. I graduated from the University of Arizona with
  B.S. in Computer Science and spent my last year on campus completing
  <a href="http://entrepreneurship.eller.arizona.edu/">this nationally ranked</a> program in
  entrepreneurship. Since then I've been working at <a href="http://www.accenture.com">Accenture</a> helping Fortune 500
  companies deploy <a href="http://www.sap.com">SAP</a>. After a few
  years of using and deploying enterprise software you either lose
  your faith in humanity or decide you can do better. I decided small
  businesses deserved better, so I started Allicator LLC.
  </p>
  <p>
  Live in Chicago? You should drop in to one of our <a href="http://www.meetup.com/Chicago-Lean-Startup-Circle/">Chicago Lean
  Startup Meetups</a>. I'm one of the organizers. If you're really bored
  you're welcome to scan my blog <a href"http://www.planningforaliens.com">here</a>. You should follow
  me on Twitter <a href="http://www.twitter.com/sfioritto">here</a>.
  </p>
</div>
<div id="aboutright">
</div>
{% endblock %}


