{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/list-tabs.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/archive.css">
{% endblock %}

{% block nav %}
 {% include 'postosaurus/list-nav.html' %}
{% endblock %}

{% block content %}

<div id="breadcrumb">
  <a href="{{ org.url }}">{{ org.name }}</a> >
  <a href="{% url webapp.postosaurus.views.list.members listname=mlist.name orgname=org.subdomain %}">
  {{ mlist.name }}
  </a> >
  <a href="{% url webapp.postosaurus.views.list.archive_overview listname=mlist.name orgname=org.subdomain %}">Archive</a>
</div>

<ul id="emails">
  {% for message, url in messages %}
  {% ifchanged %}
  <li>
    <a href="{{ url }}">
      {{ message.created_on|date:"F j, Y"}}
    </a>
  </li>
  {% endifchanged %}
  {% endfor %}
</ul>
{% endblock %}

