<head>
<title>Archive for {{ mlist.name }}</title>
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/list.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/archive.css">
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/header.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/footer.css" />
</head>

<body>
<div id="top">
{% include 'postosaurus/header.html' %}
</div>
<div id="middle">
  <div id="left">
    <p id="description">Archive</p>
    {% include 'postosaurus/listnav.html' %}
    <ul id="emails">
      {% for message, url in messages %}
      {% ifchanged %}
      <li>
	<a href="{{ url }}">
	  {{ message.created_on|date:"F j, Y"}}
	</a>
      </li>
      {% endifchanged %}
      {% endfor %}
    </ul>
  </div>
  <div class="instructions">
    <ul class="instructions">
      <li>
	<p class="top">How do I use the archive?</p>
	<p class="bottom">
	  Click on a day to view all the messages sent to this group on that day.
	</p>
      </li>
    </ul>
  </div>
</div>
<div id="footer">
  {% include 'postosaurus/footer.html' %}
</div>
{% include 'postosaurus/googscript.html' %}

</body>
