<head>
<title>
{% block title %}
Postosaurus -- Lightweight Group Collaboration
{% endblock %}
</title>

<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/base.css">
{% block css %}
{% endblock %}

</head>
<body>
  <div id="top">
    <h1>Postosaurus</h1>
      <h2>Run your project from your inbox</h2>
      <ul id="topnav">
	<li><a href="{{MEDIA_URL}}html/help.html">Help</a></li>
	<li><a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a></li>
      </ul>
  </div>
  <div id="middle">
    <div id="left">
      {% block content %}
      {% endblock %}
    </div>
    <div id="instructions">
      {% block instructions %}
      {% endblock %}
    </div>
  </div>
  <div id="bottom">
    <a href="/site_media/html/contact.html">contact</a>
    <a href="/site_media/html/privacy.html">privacy</a>
  </div>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try{
  var pageTracker = _gat._getTracker("UA-8964246-2");
  pageTracker._trackPageview();
  } catch(err) {}
  </script>
  
  </body>
