<head>

<title>
{% block title %}
Postosaurus -- Lightweight Group Collaboration
{% endblock %}
</title>

<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL}}css/reset.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/base.css">
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/list-tabs.css">


{% block css %}
{% endblock %}
</head>

<body>
  <div id="top">
    <div id="topleft">
      <h1><a href="/">Postosaurus</a></h1>
      <h2>Manage your project from your inbox</h2>
    </div>
    <div id="topright">
      <ul id="topnav">
	<li><a href="{% url webapp.postosaurus.views.marketing.contact %}">Contact</a></li>
	<li><a href="/">Profile</a></li>
	<li><a href="{% url webapp.postosaurus.views.marketing.faq %}">FAQ</a></li>
	<li><a href="{% url django.contrib.auth.views.logout_then_login %}">
	{% if user.is_authenticated %}
	Sign Out
	{% else %}
	Sign In
	{% endif %}
	</a></li>
      </ul>
    </div>
  </div>
  <div id="nav">
    {% block nav %}
    {% endblock %}
  <div id="pagetitle">
    {% block pagetitle %}
    {% endblock %}
  </div>
  </div>
 
  <div id="middle">
   {% block content %}
    {% endblock %}
 </div>
 
  <div id="bottom">
    <a href="{% url webapp.postosaurus.views.marketing.contact %}">Contact</a>
    <a href="{% url webapp.postosaurus.views.marketing.privacy %}">Privacy</a>
  </div>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try{
  var pageTracker = _gat._getTracker("UA-8964246-2");
  pageTracker._trackPageview();
  } catch(err) {}
  </script>
  
  </body>
