<head>
<title>Postosaurus Beta</title>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/beta.css">
</head>

<body>

<p>
  We're sorry, but Postosaurus is currently in beta with a limited number of accounts
  available and we could not create your account.
</p>
<p>
  We will be opening up to more beta users <span class="italic">very soon</span>. 
</p>
<p>
  Would you like us to send you
  an email when more beta accounts become available?
</p>

<form action="/app/outofspace/" method="POST">
{{ form.as_p }}
<input type="submit" value="Sign me up." />
</form>

</body>
