{% extends "postosaurus/base.html" %}

{% block title %}
FAQ
{% endblock %}

{% block css %}  
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/faq.css" />
{% endblock %}

{% block nav %}
<div id="pagetitle">
  <h2>FAQ</h2>
</div>
{% endblock %}


{% block content %}
<div id="questions">
  <h2>
  Please contact us.
  </h2>
  <p>
  We're happy to answer any and all questions. Please contact us
  <a href="{% url webapp.postosaurus.views.marketing.contact %}">here</a>.
  </p>
  
  <h2>How do I add a member to my group?</h2>
  <p>
  Send an email to your group's email address and carbon copy (CC) the person you want to add.
  </p>
  
  <h2>I tried to add a group member and they accidentally deleted the confirmation email.</h2>
  <p>
  Send another email to your Postosaurus group and CC the person you
  want to add. They will be sent another confirmation email.
  </p>
  
  <h2>How do I remove someone from my group?</h2>
  <p>
  From your profile home page, (just click on the Postosaurus logo in
  the upper left and sign in), click on the 'Members' link next to the
  group you want to edit. There is a simple form for removing group members.
  </p>

</div>
{% endblock %}