{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/listnav.css">
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/files.css" />
{% endblock %}

{% block content %}
{% include 'postosaurus/listnav.html' %}
<p id="description">Files</p>
<div class="pagination">
  {% if files.has_previous %}
  <a href="?page={{ files.previous_page_number }}">previous</a>
  {% endif %}
  {% if files.has_next %}
  <a href="?page={{ files.next_page_number }}">next</a>
  {% endif %}  
  <p>Page {{ files.number }} of {{ files.paginator.num_pages }}.</p>

</div>

<ul id="filelist">
  {% for file in files.object_list %}
  {% ifchanged %}
  <p class ="date">{{ file.created_on|date:"F j, Y"}}<p>
    {% endifchanged %}
    <li>{{file.name}}</li>
    {% endfor %}
</ul>          
{% endblock %}


{% block instructions %}
<ul class="instructions">
  <li>
    <p class="top">What are these files?</p>
    <p class="bottom">
      Postosaurus remembers any files sent to your list as an attachment.
    </p>
  </li>
</ul>
{% endblock %}
