{% extends "postosaurus/marketing-base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/home.css">
{% endblock %}

{% block content %}
  <div id="copy">
    <h2>
    Your team runs on email. Postosaurus makes email better.
    </h2>
    <p id="bottomcopy">
    Postosaurus uses email groups to keep your team on the same page. Email attachments are automatically backed up and stored in your private web site for download later. It's easy to use -- if you know how to use email you know how to use Postosaurus. 
    </p>
    <p>
    There is no download and it takes minutes to get started.
    </p>

    <a href="{% url webapp.postosaurus.views.marketing.plans %}">
    <img src="{{ MEDIA_URL }}images/signup-button.png" />
    </a>
 </div>
 <div id="features">
   <ul>
     <li>
     <h2>Email</h2>
     <p class="scannable">
     Create as many private email groups as you want.
     </p>
     <p>
     Use one email address to communicate with your team and another for your board and another for your volunteers. Use an email group for every new project. All emails are stored in a private, searchable archive.
     </p>
     </li>
     <li>
     <h2>Files</h2>
     <p class="scannable">
     Every version of every file in one place.
     </p>
     <p>
     Whether you send an email to your team with an attachment or upload a file through the web site, Postosaurus will remember it. Postosaurus keeps all versions of a file in one place, automatically.
     </p>
     </li>
     
   </ul>
 </div>
 <hr/>
 <div id="middlebottom">
 <div id="questions">
 <div class="question">
   <h2>
   Do I need to create a new email account?
   </h2>
   <p>
   No. When you create a private email group you get an email address that represents the group. You send email to that address from your own email address and it goes to everyone on the group.
   </p>
 </div>
 <div class="question">
   <h2>
   Do I need to download and install software?
   </h2>
   <p>
   No. Postosaurus is entirely web-based. In fact, you don't even have to use the web site as most activities can be accomplished using plain old email.
   </p>
 </div>
 <div class="question">
   <h2>
   If I cancel, what happens to my data?
   </h2>
   <p>
   Even if you cancel your plan you still have access to all of your data, you just can't add new files or send emails to your group.
   </p>
 </div>
 </div>
</div>
 {% endblock %}
 
 


