{% extends "postosaurus/base.html" %}
{% load tags %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/list-tabs.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/invite-members.css" />
{% endblock %}

{% block nav %}
{% include 'postosaurus/list-nav.html' %}
{% endblock %}

{% block content %}
<div id="breadcrumb">
  <a href="{{ org.url }}">{{ org.name }}</a> >
  <a href="{% org_url webapp.postosaurus.views.list.members org.subdomain, mlist.name %}">
  {{ mlist.name }}
  </a> >
  <a href="{% org_url webapp.postosaurus.views.list.members org.subdomain, mlist.name %}">Members</a> >
  <a href="{% org_url webapp.postosaurus.views.list.invite_member org.subdomain, mlist.name %}">Invite</a>
</div>
<h3>
Enter the email address of the person you would like to invite.
</h3>
<form action="" method="POST">
<input type="text" name="email" id="id_email"/>
<input type="submit" value="Invite" id="submit" />

{% endblock %}



