{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/list-tabs.css" />
{% endblock %}

{% block nav %}
{% include 'postosaurus/list-nav.html' %}
{% endblock %}

{% block content %}
<div id="breadcrumb">
  <a href="{{ org.url }}">{{ org.name }}</a> >
  <a href="{% url webapp.postosaurus.views.list.members listname=mlist.name orgname=org.subdomain %}">
  {{ mlist.name }}
  </a> >
  <a href="{% url webapp.postosaurus.views.list.members listname=mlist.name orgname=org.subdomain %}">Members</a> >
  <a href="{% url webapp.postosaurus.views.list.invite_member listname=mlist.name orgname=org.subdomain %}">Invite</a>
</div>

<h3>A confirmation email has been sent to {{ email }}.</h3>
<p>
<a href="{% url webapp.postosaurus.views.list.invite_member org.subdomain, mlist.name %}">
Invite someone else
</a> or go
<a href="{% url webapp.postosaurus.views.list.members org.subdomain, mlist.name %}">
back to your group
</a>
</p>

{% endblock %}



