{% extends "postosaurus/base.html" %}
{% load tags %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/list-tabs.css" />
{% endblock %}

{% block nav %}
{% include 'postosaurus/list-nav.html' %}
{% endblock %}

{% block content %}
<div id="breadcrumb">
  <a href="{{ org.url }}">{{ org.name }}</a> >
  <a href="{% org_url webapp.postosaurus.views.list.members org.subdomain, mlist.name %}">
  {{ mlist.name }}
  </a> >
  <a href="{% org_url webapp.postosaurus.views.list.members org.subdomain, mlist.name %}">Members</a> >
  <a href="{% org_url webapp.postosaurus.views.list.invite_member org.subdomain, mlist.name %}">Invite</a>
</div>

<h3>A confirmation email has been sent to {{ email }}.</h3>
<p>
<a href="{% org_url webapp.postosaurus.views.list.invite_member org.subdomain, mlist.name %}">
Invite someone else
</a> or go
<a href="{% org_url webapp.postosaurus.views.list.members org.subdomain, mlist.name %}">
back to your group
</a>
</p>

{% endblock %}



