
<head>
<title>Postosaurus -- Lightweight Group Collaboration</title>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/landing2.css">
</head>

<body>

  <div id="top">
    <h1>
      Postosaurus
    </h1>
    <h2>
      Run your project from your inbox.
    </h2>
  </div>

  <div id="middle">
    <div id="left">
      <div id="leftinner">
	  <h2 class="directions">
	    Email lists for project management.
	  </h2>
	  <div id="pitch">
	  <p>
	    A single email address for the whole group. Easy to set up, easy to use.
	  </p>
	  <h2 class="directions">Run your project from your inbox!</h2>
	   </div>
	  <form action="/"
		<input id="submit-top" type="submit" value="See Plans and Pricing" />
	  </form>
	  <div id="links" class="extras">
	    <h1>No hassle group email.</h1>
	    <div class="descheight">
	      <p>
		Everyone sends email to a single address. Everyone receives it at the same email address they've been using for years. No more contact management or wondering if everybody got that important message.
	      </p>
	    </div>
	  </div>
	  <div id="files" class="extras">
	   <h1>Plans starting from free.</h1>
	    <div class="descheight">	    
	      <p>
		The base email list is free, forever. That gets you a group email 
		address that everyone can use to talk with everyone else. Some
		optional features have a small one-time charge.
	      </p>
	    </div>
	  </div>
	  <div id="tasks" class="extras">
	     <h1>Attach, archive, and share.</h1>
	    <div class="descheight">
	      <p>
		It works like an email group. Everyone in your group uses one email
		address to talk with everyone else in the group. Plus you get tasks,
		document management and Postosaurus will even remember the links you
		send to each other.
	      </p>
	    </div>
	  </div>
	<form action="/"
	  <input id="submit-bottom" type="submit" value="See Plans and Pricing" />
	</form>
      </div>
    </div>
  </div>
  <div id="footer">
    <a href="/site_media/html/contact.html">contact</a>
    <a href="/site_media/html/privacy.html">privacy</a>
  </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8964246-2");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</body>


