
<head>
<title>Postosaurus -- Lightweight Group Collaboration</title>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/landing2.css">
</head>

<body>

  <div id="top">
    <h1>
      Postosaurus
    </h1>
    <h2>
      Run your project from your inbox.
    </h2>
  </div>

  <div id="middle">
    <div id="left">
      <div id="leftinner">
	  <p class="directions">
	    It always goes back to email.
	  </p>
	  <div id="pitch">
	  <h2>
	    You've tried Microsoft Project, spreadsheets, sharing Google documents,
	    and every other project	management application on the planet. But 
	    everyone in your group always goes back to email. 
	  </h2>
	  </div>
	  <p class="directions">Why fight it? Postosaurus makes email better.</p>
	  <div id="links" class="extras">
	    <h1>What is Postosaurus?</h1>
	    <div class="descheight">
	      <p>
		Postosaurus is a lightweight project management application built
		around email. If you know how to use email, you know how to use
		Postosaurus.
	      </p>
	    </div>
	  </div>
	  
	  <div id="files" class="extras">
	    <h1>How does it work?</h1>
	    <div class="descheight">
	      <p>
		It works like an email group. Everyone in your group uses one email
		address to talk with everyone else in the group. Plus you get tasks,
		document management and Postosaurus will even remember the links you
		send to each other.
	      </p>
	    </div>
	  </div>
	  <div id="tasks" class="extras">
	    <h1>How much does it cost?</h1>
	    <div class="descheight">	    
	      <p>
		The base email list is free, forever. That gets you a group email 
		address that everyone can use to talk with everyone else. Some
		optional features have a small one-time charge.
	      </p>
	    </div>
	  </div>
	  <input id="submit" type="submit" value="Learn More" />
	</form>
      </div>
    </div>
  </div>
  <div id="footer">
    <a href="/site_media/html/contact.html">contact</a>
    <a href="/site_media/html/privacy.html">privacy</a>
  </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8964246-2");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</body>


