{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/links.css" />
{% endblock %}

{% block nav %}
 <div id="nav">
   {% include 'postosaurus/list-nav.html' %}
 </div>
{% endblock %}
 
{% block content %}

<div id="breadcrumb">
<a href="{% url webapp.postosaurus.views.members listname=mlist.name%}">
{{ mlist.name }}
</a>
<span class="divider">></span>
<a href="{% url webapp.postosaurus.views.links listname=mlist.name %}">Links</a>
<span class="divider">></span>
Page {{ links.number }} of {{ links.paginator.num_pages }}
</div>

<ul id="linkslist">
  {% for link in links.object_list %}
  {% ifchanged %}
  <p class ="date">{{ link.created_on|date:"F j, Y"}}<p>
    {% endifchanged %}
    <li><a href="{{ link.cleaned }}">{{ link.url }}</a></li>
    {% endfor %}
</ul>

<div class="pagination">
  <span class="step-links">
    {% if links.has_previous %}
    <a href="?page={{ links.previous_page_number }}">Previous Page</a>
    {% endif %}
    {% if links.has_next %}
    <a href="?page={{ links.next_page_number }}">Next Page</a>
    {% endif %}  
 </span>
</div>

{% endblock %}


