{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/links.css" />
{% endblock %}

{% block nav %}
 {% include 'postosaurus/list-nav.html' %}
{% endblock %}

{% block content %}

<div id="breadcrumb">
<a href="{% url webapp.postosaurus.views.members listname=mlist.name%}">
{{ mlist.name }}
</a>
<span class="divider">></span>
<a href="{% url webapp.postosaurus.views.links listname=mlist.name %}">Links</a>
<span class="divider">></span>
Page {{ links.number }} of {{ links.paginator.num_pages }}
</div>

{% if links.object_list %}
<p class="hint">
Send an email to {{ mlist.email }} with a link in the body to add
a link to this page
</p>
<ul id="linkslist">
  {% for link in links.object_list %}
  {% ifchanged %}
  <p class ="date">{{ link.created_on|date:"F j, Y"}}<p>
    {% endifchanged %}
    <li><a href="{{ link.cleaned }}">{{ link.url }}</a></li>
    {% endfor %}
</ul>

{% else %}
<h3>Add a link to this page</h3>
<p id="scannable">
Send an email to {{ mlist.email }} with a link in the body.
</p>
<p id="detail">
As you and your group members send emails back and forth, Postosaurus
will collect any links you send and keep them here where you can
easily find them later.
</p>
{% endif %}

<div class="pagination">
  <span class="step-links">
    {% if links.has_previous %}
    <a href="?page={{ links.previous_page_number }}">Previous Page</a>
    {% endif %}
    {% if links.has_next %}
    <a href="?page={{ links.next_page_number }}">Next Page</a>
    {% endif %}  
 </span>
</div>

{% endblock %}


