{% load tags %}

<ul id="listtabs">
  
  <li
  {% if membertab %}
  class="current"
  {% endif %}
  id="members">
    <a href="{% org_url webapp.postosaurus.views.list.members org.subdomain, mlist.name %}">Members</a>
  </li>
  
  <li
  {% if archivetab %}
  class="current"
  {% endif %}
  id="archive">
    <a href="{% org_url webapp.postosaurus.views.list.archive_overview org.subdomain, mlist.name %}">Archive</a>
  </li>
  
 <li
  {% if filestab %}
  class="current"
  {% endif %}
  id="files">
    <a href="{% org_url webapp.postosaurus.views.list.files org.subdomain, mlist.name %}">Files</a>
  </li>

</ul>
