<ul id="listtabs">
  
  <li
  {% if membertab %}
  class="current"
  {% endif %}
  id="members">
    <a href="{% url webapp.postosaurus.views.list.members listname=mlist.name orgname=org.subdomain %}">Members</a>
  </li>
  
  <li
  {% if archivetab %}
  class="current"
  {% endif %}
  id="archive">
    <a href="{% url webapp.postosaurus.views.list.archive_overview listname=mlist.name orgname=org.subdomain %}">Archive</a>
  </li>
  
 <li
  {% if filestab %}
  class="current"
  {% endif %}
  id="files">
    <a href="{% url webapp.postosaurus.views.list.files listname=mlist.name orgname=org.subdomain %}">Files</a>
  </li>

</ul>
