<ul id="listnav">
  
  <li
  {% if membertab %}
  class="current"
  {% endif %}
  id="members">
    <a href="{% url webapp.postosaurus.views.members listname=mlist.name %}">Members</a>
  </li>
  
  <li
  {% if archivetab %}
  class="current"
  {% endif %}
  id="archive">
    <a href="{% url webapp.postosaurus.views.archive_overview listname=mlist.name %}">Archive</a>
  </li>
  
  <li
  {% if linktab %}
  class="current"
  {% endif %}
  id="links">
    <a href="{% url webapp.postosaurus.views.links listname=mlist.name %}">Links</a>
  </li>
  
  <li
  {% if filetab %}
  class="current"
  {% endif %}
  id="files">
    <a href="{% url webapp.postosaurus.views.files listname=mlist.name %}">Files</a>
  </li>

  <li
  {% if taskstab %}
  class="current"
  {% endif %}
  id="tasks">
  <a href="{% url webapp.postosaurus.views.tasks listname=mlist.name %}">Tasks</a>
  </li>
  
</ul>
