{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/manage.css" />

{% block content %}
  <div id="middle">
    <div id="left">
      <div id="leftinner">
	<div id="list">
          <p class="directions">Emails in the "{{ mlist.name }}" list</p>
	</div>
        <ul id="subscribers">
          {% for subscriber in subscribers %}
            <li>{{ subscriber.user }}
              <form name="delete" action="/app/subscribers/{{subscriber.pk}}/remove/manager/" method="POST"> 
	        <input type="submit"  value="Remove" /> 	      
              </form>
             </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

{% end block %}
