<head>
<title>
{% block title %}
Postosaurus -- Lightweight Group Collaboration
{% endblock %}
</title>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL}}css/reset.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL}}css/marketing-base.css" />
{% block css %}
{% endblock %}
</head>

<body>
<div id="top">
  <div id="topleft">
    <h1><a href="/">Postosaurus</a></h1>
    <h2><a href="/">Manage your project from your inbox.</a></h2>
  </div>
  <div id="topright">
    <ul id="globalnav">
      <li><a href="{% url webapp.postosaurus.views.about %}">About</a></li>
      <li><a href="{% url webapp.postosaurus.views.landing_contact %}">Contact</a></li>
      <li><a href="{% url django.contrib.auth.views.logout_then_login %}">
      {% if user.is_authenticated %}
      Sign Out
      {% else %}
      Sign In
      {% endif %}
      </a></li>
    </ul>
  </div>
</div>

<div id="middle">
  {% block content %}
  {% endblock %}
</div>

<div id="bottom">
  <a href="{% url webapp.postosaurus.views.landing_contact %}">Contact</a>
 <a href="/site_media/html/privacy.html">Privacy</a>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-8964246-2");
pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
