{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/list-tabs.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/members.css" />
{% endblock %}

{% block nav %}
{% include 'postosaurus/list-nav.html' %}
{% endblock %}

{% block content %}
<div id="breadcrumb">
  <a href="{{ org.url }}">{{ org.name }}</a> >
  <a href="{% url webapp.postosaurus.views.list.members listname=mlist.name orgname=org.subdomain %}">
  {{ mlist.name }}
  </a> >
  <a href="{% url webapp.postosaurus.views.list.members listname=mlist.name orgname=org.subdomain %}">Members</a>
</div>

<h3>Members</h3>
{% if org.active %}
<p id="links">
<a id="edit" href="{% url webapp.postosaurus.views.list.edit_members org.subdomain,mlist.name %}">edit</a>
|<a id="add" href="{% url webapp.postosaurus.views.list.invite_member org.subdomain,mlist.name %}">add a member</a>
</p>
{% endif %}

{% if subscriptions %}
<ul id="memberslist">   
  {% for sub in subscriptions %}
  <li>
  <p>{{ sub.user.email }}</p>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if pending %}
<h3>Pending</h3>
<ul id="pendinglist">
 {% for invite in pending %}
  <li>
  <p class="pending">{{invite.address }}</p>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if org.active %}
<p class="scannable">
To add a member send an email to {{ mlist.email }} and CC the person you would like
to add.
</p>
{% else %}
<p class="scannable">
To add members the organization must be reactivated by the owner, {{ org.owner.email }}.
</p>
{% endif %}

{% endblock %}



