{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/list-tabs.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/members.css" />
{% endblock %}

{% block nav %}
{% include 'postosaurus/list-nav.html' %}
{% endblock %}

{% block content %}
<div id="breadcrumb">
  <a href="{{ org.url }}">{{ org.name }}</a> >
  <a href="{% url webapp.postosaurus.views.list.members listname=mlist.name orgname=org.subdomain %}">
  {{ mlist.name }}
  </a> >
  <a href="{% url webapp.postosaurus.views.list.members listname=mlist.name orgname=org.subdomain %}">Members</a>
</div>

{% if subscriptions %}
<form action="" method="POST">
<p class="Remove">
Remove selected members.
</p>
<input type="submit" value="Remove" id="submit" />
<ul id="memberslist">   
  {% for sub in subscriptions %}
  <li>
  <input type="checkbox" name="{{sub.user.email}}" />
  <p class="email">{{ sub.user.email }}</p>
  </li>
  {% endfor %}
</ul>
</form>
{% endif %}
<p class="scannable">
To add a member send an email to {{ mlist.email }} and CC the person you would like
to add.
</p>

{% endblock %}



