{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/members-confirm.css" />
{% endblock %}

{% block nav %}
<div id="nav">
  {% include 'postosaurus/list-nav.html' %}
</div>
{% endblock %}

{% block content %}
<h1>
Are you sure?
</h1>
<p>
  Are you sure you wanted to remove the following members from the list <span class="listname">{{mlist.name}}</span>?
</p>
<form action="" method="POST">
  <ul id="memberslist">   
    {% for email in toremove %}
    <li>
      <input type="hidden" name="{{ email }}" value="{{ email }}"/>
      <p class="email">{{ email }}</p>
    </li>
    {% endfor %}
  </ul>
  <input type="hidden" value="1" name="confirmed" />
  <input type="submit" value="Yes, I'm sure." id="submit" />
  <a id="cancel" href="{% url webapp.postosaurus.views.members listname=mlist.name %}">Cancel</a>
</form>

{% endblock %}

