{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/members.css" />
{% endblock %}

{% block nav %}
<div id="nav">
  {% include 'postosaurus/list-nav.html' %}
</div>
{% endblock %}

{% block content %}
<div id="breadcrumb">
<a href="{% url webapp.postosaurus.views.members listname=mlist.name%}">
{{ mlist.name }}
</a>
<span class="divider">></span>
<a href="{% url webapp.postosaurus.views.members listname=mlist.name %}">Members</a>
</div>

<div id="membersleft">
<form action="" method="POST">
  <p class="Remove">
    Remove selected members.
  </p>
  <input type="submit" value="Remove" id="submit" />
  <ul id="memberslist">   
    {% for sub in subscriptions %}
    <li>
      <input type="checkbox" name="{{sub.user.email}}" />
      <p class="email">{{ sub.user.email }}</p>
    </li>
    {% endfor %}
  </ul>
</form>
</div>
<div id="membersright">
  <h3>Add new members.</h3>
  <p class="scannable">
  Send an email to {{ mlist.email }} and CC the person you would like
  to add.
  </p>
  <p>
  Postosaurus will send a confirmation email to each person carbon
  copied on an email to the list. Invited group members simply reply
  to the confirmation message and they are added to the group.
  </p>
  
</div>
{% endblock %}



