{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/org-lists.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/org-tabs.css" />
{% endblock %}

{% block nav %}
{% include 'postosaurus/org-nav.html' %}
{% endblock %}


{% block content %}

{% if mlists %}
<p class="description">
Groups for this organization.
</p>
<table id="lists">   
  <tbody>
    {% for mlist in mlists %}
    <tr>
      <td class="listname">
	<p class="listname">
	  {{ mlist.name }}<span class="domain">@postosaurus.com</span>
	</p>
      </td>
      <td class="links">
        <a href="{% url webapp.postosaurus.views.list.members listname=mlist.name orgname=mlist.organization.subdomain %}">Members</a>
	<a href="{% url	webapp.postosaurus.views.list.archive_overview	mlist.organization.subdomain, mlist.name %}">Archive</a>
	<a href="{% url webapp.postosaurus.views.list.files listname=mlist.name orgname=mlist.organization.subdomain %}">Files</a>
     </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endif %}

{% if org.active %}
<p class="description">
Create a new group.
</p>
{% if mlist %}
<div id="listcreated">
  <p>
  Your group {{ mlist.name }} was created. A confirmation email has been sent to your email address.
  </p>
</div>
{% endif %}
<form action="" method="POST">
{{ form.groupname.errors }}
{{ form.groupname }}
<p id="emaildomain">@{{org.subdomain}}.postosaurus.com</p>
<p id="examples">Examples: MyProject, My.Project</p>
<input id="submit" type="submit" value="Create my group." />
</form>
{% else %}
<p class="description">
This organization has been deactivated by {{ org.owner.email }}.
</p>
{% endif %}

{% endblock %}


