{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/org-members.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/org-tabs.css" />
{% endblock %}

{% block nav %}
{% include 'postosaurus/org-nav.html' %}
<div id="pagetitle">
  {{org.name}}
</div>
{% endblock %}

{% block content %}
<form action="" method="POST">
  <p class="Remove">
    Remove selected members.
  </p>
  <input type="submit" value="Remove" id="submit" />
  <ul id="memberslist">   
    {% for m in memberships %}
    <li>
      <input type="checkbox" name="{{m.user.email}}" />
      <p class="email">{{ m.user.email }}</p>
    </li>
    {% endfor %}
  </ul>
</form>

{% endblock %}



