<ul id="orgtabs">

  <li
  {% if groupstab %}
  class="current"
  {% endif %}
  id="groupstab">
    <a href="{{ org.url }}">Groups</a>
  </li>


  <li
  {% if memberstab %}
  class="current"
  {% endif %}
  id="memberstab">
    <a href="{{ org.membersurl }}">Members</a>
  </li>

  
  <li
  {% if filestab %}
  class="current"
  {% endif %}
  id="filestab">
    <a href="{{ org.filesurl }}">Files</a>
  </li>
  

  <li
  {% if taskstab %}
  class="current"
  {% endif %}
  id="taskstab">
 <a href="{{ org.tasksurl }}">Tasks</a>
 </li>

</ul>
