{% extends "postosaurus/base.html" %}

{% block title %}
Postosaurus Plans and Pricing
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/plans.css">
{% endblock %}

{% block content %}
<h2>
15 day free trial.
</h2>
<div id="3108">
  <h3>
  Basic
  </h3>
  <ul>
    <li>9.99/month</li>
    <li>1 project</li>
    <li>5 GB storage</li>
    <li>Unlimited users</li>
  </ul>
</div>
<a href="{% url webapp.postosaurus.views.create_subscription planid=3108 %}">test</a>
{% endblock %}

