
<head>
<title>Postosaurus -- Lightweight Group Collaboration</title>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/signup.css">
</head>

<body>

  <div id="top">
    <h1>
      Postosaurus
    </h1>
    <h2>
      Run your project from your inbox.
    </h2>
    <ul id="topnav">
      <li><a href="login.html">Log In</a>
      <li>Already have a postosaurus list?</li>
  </div>

  <div id="middle">
    <div id="left">
      <div id="leftinner">
	<form action="/app/lists/create/" method="POST">
	  <div id="leadin">
	    <h3>
	      Run your project from your inbox.
	    </h3>
	    <p>One email for the whole group. Easy to set up, easy to use</p>
	    <p>Everyone sends email to a single address. Everyone receives it at the same email address they've been using for years.</p>
	  </div>  
	  <p class="directions">
	    Step 1. <span class="hilight">Enter</span> your email and pick a list name.
	  </p>
	  
	  <div id="labels">
	    <label>Enter your email address.</label>
	    <label>Choose your list's email address.</label>
	  </div>
	  <div id="inputs">
	    <input name="email" type="text"/>
	    <input name="groupname" type="text"/>
	    <p id="emaildomain">@postosaurus.com</p>
	    <p id="examples">Examples: MyProject, My.Project</p>
	  </div>
	  <p class="directions" id="extrafeatures">Step 2. <span class="hilight">Free</span> or choose your extra features.</p>
	  <div id="links" class="extras">
	    <h1>Save your links.</h1>
	    <div class="descheight">
	    <p >
	      Postosaurus remembers every link or url sent to your group's email address.
	    </p>
	    <p>
	      Links are stored on a page for all to use.
	      </p>
	    <p><a href="/site_media/html/infolink.html">More Info</a></p>
	    </div>
	    <p class="price">
	      $5 <span class="price">(One time fee)</span>
	    </p>
	    <input type="checkbox" name="links"/>
	    <p class="buyme">Add this to your group.</p>
	  </div>
	  
	  <div id="files" class="extras">
	    <h1>Manage documents.</h1>
	    <div class="descheight">
	      <p>
		Postosaurus will handle versioning, storing and backing
		up your files. Just attach it and email your group. 
	      </p>	    
	      <p>
	      Start with 1 gigabyte of storage.
	    </p>
	    <p><a href="/site_media/html/infodocument.html">More Info</a></p>
	    </div>
	    <p class="price">
	      $10 <span class="price">(One time fee)</span>
	    </p>
	    <input type="checkbox" name="files"/>
	    <p class="buyme">Add this to your group.</p>
	  </div>
	  <div id="tasks" class="extras">
	    <h1>Email tasks.</h1>
	    <div class="descheight">
	    <p>
	      Sometimes you just need a to-do list.
	    </p>
	    <p> 
	      Managing your task list with Postosaurus is as easy
	      as sending an email. Automatic email reminders.
	    </p>
	    <p><a href="/site_media/html/infotask.html">More Info</a></p>
	    </div>
	    <p class="price">
	      $5 <span class="price">(One time fee)</span>
	    </p>
	    <input type="checkbox" name="tasks"/>
	    <p class="buyme">Add this to your group.</p>
	  </div>
	    <p class="directions">Step 3. <span class="hilight">Create</span> your list.</p>
	  <input id="submit" type="submit" value="Create my list." />
	</form>
	<p class="directions">Step 4. <span class="hilight">Reply</span> to the confirmation email from Postosaurus.</p>
	<div class="finalwords">
	<p>To add people to your list, just email your list (example: "mylist@postosaurus.com") and CC: them. That's it!
	</p>
	</div>
      </div>
    </div>
    
  </div>
  <div id="footer">
    <a href="/site_media/html/contact.html">contact</a>
    <a href="/site_media/html/privacy.html">privacy</a>
  </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8964246-2");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</body>

