{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/user-settings.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/user-tabs.css" />
{% endblock %}

{% block nav %}
{% include 'postosaurus/user-tabs.html' %}
<div id="pagetitle">
<h2>Your Settings</h2>
</div>
{% endblock %}

{% block content %}
{% if success %}
<p id="changed">Your password has been changed.</p>
{% endif %}

<form id="changepass" method="post" action="{{request.path}}">
<table>
  {% if form.oldpass.errors %}
  <tr class="error">
    <td></td>
    <td>
      {{ form.oldpass.errors }}
    </td>
 </tr>
 {% endif %}
  <tr>
    <td>
      {{ form.oldpass.label_tag }}
    </td>
    <td>
     {{ form.oldpass }}
    </td>
  </tr>
  
  {% if form.newpass.errors %}
  <tr class="error">
    <td></td>
    <td>
      {{ form.newpass.errors }}
    </td>
  </tr>
  {% endif %}
  <tr>
    <td>
      {{ form.newpass.label_tag }}
    </td>
    <td>
     {{ form.newpass }}
    </td>
  </tr>
  {% if form.verify.errors %}
  <tr class="error">
    <td></td>
    <td class="error">{{ form.verify.errors }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>
      {{ form.verify.label_tag }}
    </td>
    <td>
     {{ form.verify }}
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <input type="submit" value="Change my password" id="changebutton" />
    </td>
  </tr>
  </table>
</form>

{% endblock %}


