{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/user-billing.css" />
{% endblock %}

{% block nav %}
<div id="nav">
{% include 'postosaurus/user-tabs.html' %}
</div>
{% endblock %}

{% block content %}
{% if url %}
<p id="topblurb">
All of our billing is handled securely by Spreedly.
</p>
<p id="bottomblurb">
Change or cancel your plan <a href="{{ url }}">here</a>.
</p>
{% else %}
<p id="topblurb">Create your own Postosaurus groups.</p>
<p id="bottomblurb">Sign up for a basic account <a href="{{ plans }}">here</a>.</p>
{% endif %}
<p id="needmore">More plans are on the way. Need another plan right
now? Have any questions? Contact us <a href="{{ MEDIA_URL }}html/contact.html">here</a>.
</p>
{% endblock %}


