{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/usermain.css" />
{% endblock %}

{% block nav %}
<div id="nav">
{% include 'postosaurus/user-tabs.html' %}
</div>
{% endblock %}

{% block content %}
<p id="description">
  These are your Postosaurus lists.
</p>
<table id="lists">   
  <tbody>
    {% for mlist in mlists %}
    <tr>
      <td class="listname">
	<p class="listname">
	  {{ mlist.name }}<span class="domain">@postosaurus.com</span>
	</p>
      </td>
      <td class="links">
        <a href="{% url webapp.postosaurus.views.members listname=mlist.name %}">Members</a>
	<a href="{% url webapp.postosaurus.views.archive_overview listname=mlist.name %}">Archive</a>
	<a href="{% url webapp.postosaurus.views.links listname=mlist.name %}">Links</a>
	<a href="{% url webapp.postosaurus.views.files listname=mlist.name %}">Files</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


