<ul id="usertabs">
  
  <li
  {% if groupstab %}
  class="current"
  {% endif %}
  id="groupstab">
    <a href="{% url webapp.postosaurus.views.user_settings %}">Groups</a>
  </li>
  
 <li
  {% if passwordtab %}
  class="current"
  {% endif %}
  id="passwordtab">
      <a href="{% url webapp.postosaurus.views.user_password %}">Password</a>
 </li>
  
  <li
  {% if billingtab %}
  class="current"
  {% endif %}
  id="billingtab">
 <a href="{% url webapp.postosaurus.views.user_billing %}">Billing</a>
 </li>
</ul>
