{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/user-billing.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/user-tabs.css" />
{% endblock %}

{% block nav %}
{% include 'postosaurus/user-tabs.html' %}
<div id="pagetitle">
  <h2>Billing</h2>
</div>
{% endblock %}

{% block content %}
{% if url %}
<p id="topblurb">
All of our billing is handled securely by Spreedly.
</p>
<p id="bottomblurb">
{% if active %}
Change or cancel your plan <a href="{{ url }}">here</a>.
{% else %}
Reactivate your plan <a href="{{ url }}">here</a>.
{% endif %}
</p>
{% else %}
<p id="topblurb">Create a Postosaurus site for your organization.</p>
<p id="bottomblurb">Sign up for a basic account right <a href="{{ plans }}">here</a>.</p>
<p>See plans and pricing <a href="{% url webapp.postosaurus.views.marketing.plans %}">here</a>.
{% endif %}
<p id="needmore">Have any questions? Contact us <a href="{% url webapp.postosaurus.views.marketing.contact %}">here</a>.
</p>
{% endblock %}


