{% extends "postosaurus/base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/usermain.css" />
{% endblock %}

{% block content %}

<p id="description">
  These are your Postosaurus lists.
</p>
<table id="lists">   
  <tbody>
    {% for mlist in mlists %}
    <tr>
      <td class="listname">
	<p class="listname">
	  {{ mlist.name }}<span class="domain">@postosaurus.com</span>
	</p>
      </td>
      <td class="links">
        <a href="{% url webapp.postosaurus.views.members listname=mlist.name %}">Members</a>
	<a href="{% url webapp.postosaurus.views.archive_overview listname=mlist.name %}">Archive</a>
	<a href="{% url webapp.postosaurus.views.links listname=mlist.name %}">Links</a>
	<a href="{% url webapp.postosaurus.views.files listname=mlist.name %}">Files</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block instructions %}
<ul class="instructions">
  <li>
    <p class="top">What do I do next?</p>
  </li>
  <li>
    <p class="top">Members</p>
    <p class="bottom">The members link will show you all the members in the list.</p>
  </li>
  <li>
    <p class="top">Archive</p>
    <p class="bottom">The archive link will take you to a searchable archive of all emails sent to this list.</p>
  </li>
  <li>
    <p class="top">Links</p>
    <p class="bottom">
      If you click on "links" you will see every URL sent to this list. Postosaurus remembers them
      and stores them away by date for you to find later.
    </p>
  </li>
</ul>
{% endblock %}
